<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('clientEvent', {data: 'I\'m connected!'});
            });
            socket.on('serverResponse', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('log #' + ': ' + msg.data).html());
            });
            $('form#emit').submit(function(event) {
                socket.emit('clientEvent', {data: $('#emit_data').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnectRequest');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>log:</h2>
    <div id="log"></div>
</body>
</html>
